{% extends "wrapper.html" %}
{% block content %}
<div class="row">
    <div class="column column-50 column-offset-25">
        <br>
        <h2>Build Examples</h2>
    </div>
</div>
<div class="row">
    <div class="column column-50 column-offset-25">
        <p>Here are some build examples with their configuration settings (that differ from the default):</p>
        <ul>
            <li><a href="https://www.reddit.com/user/OmnisaiRen">u/OmnisaiRen</a>'s
                <a href="https://relivesight.com/projects/quarandream/">Quarandream</a>:
                <ul>
                    <li>Number of columns: 6</li>
                    <li>Number of rows: 5</li>
                    <li>Last row's key count: 0</li>
                    <li>Tenting angle: pi/7</li>
                    <li>Connector: TRRS</li>
                    <li>USB Hole: Micro</li>
                    <li>Stagger: No</li>
                    <li>Height Offset: 10mm</li>
                    <li>Wrist Rest: Yes</li>
                    <li>Integrated Wrist Rest: Yes</li>
                </ul>
            </li>
            <li><a href="https://www.reddit.com/user/OmnisaiRen">u/OmnisaiRen</a>'s
                <a href="https://relivesight.com/projects/dactylknight/">Dactyl Knight</a>:
                <ul>
                    <li>Number of columns: 6</li>
                    <li>Last row's key count: 0</li>
                    <li>Tenting angle: pi/7</li>
                    <li>Connector: TRRS</li>
                    <li>USB Hole: Micro</li>
                    <li>Stagger: No</li>
                    <li>Height Offset: 10mm</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
