{% extends "wrapper.html" %}
{% block content %}
<div class="row">
    <div class="column column-75">
        <br>
        <h2>Build Examples</h2>
    </div>
</div>
<div class="row">
    <div class="column column-75">
        <p>Here are some build examples with their configuration settings (that differ from the defaults):</p>
        <ul>
            <li><a href="https://www.reddit.com/user/OmnisaiRen">u/OmnisaiRen</a>'s
                <a href="https://relivesight.com/projects/quarandream/">Quarandream</a>:
                <ul>
                    <li>Number of columns: 6</li>
                    <li>Number of rows: 5</li>
                    <li>Last row's key count: 0</li>
                    <li>Tenting angle: pi/7</li>
                    <li>Connector: TRRS</li>
                    <li>USB Hole: Micro</li>
                    <li>Stagger: No</li>
                    <li>Height Offset: 10mm</li>
                    <li>Wrist Rest: Yes</li>
                    <li>Integrated Wrist Rest: Yes</li>
                </ul>
            </li>
            <li><a href="https://www.reddit.com/user/OmnisaiRen">u/OmnisaiRen</a>'s
                <a href="https://relivesight.com/projects/dactylknight/">Dactyl Knight</a>:
                <ul>
                    <li>Number of columns: 6</li>
                    <li>Last row's key count: 0</li>
                    <li>Tenting angle: pi/7</li>
                    <li>Connector: TRRS</li>
                    <li>USB Hole: Micro</li>
                    <li>Stagger: No</li>
                    <li>Height Offset: 10mm</li>
                </ul>
            </li>
            <li><a href="https://www.reddit.com/user/pzsz">u/pzsz</a>'s
                <a href="https://www.reddit.com/r/ErgoMechKeyboards/comments/gkdxmj/my_covid_baby_a_metallic_red_dactylmanuform/">Covid Baby</a>:
                <ul>
                    <li>Number of rows: 5</li>
                    <li>Number of columns: 6</li>
                    <li>Tenting angle: pi/10</li>
                    <li>External holder: Yes</li>
                    <li>Stagger: No</li>
                    <li>Wide Pinky?: Yes</li>
                    <li>Height Offset: 8mm</li>
                    <li>Screw Inserts: Yes</li>
                </ul>
            </li>
            <li><a href="https://www.reddit.com/user/ijauradunbi">u/ijauradunbi</a>'s
                <a href="https://www.reddit.com/r/ErgoMechKeyboards/comments/gp517t/dactyl_lightcycle_light/">Dactyl Lightcycle Light</a>:
                <ul>
                    <li>Number of columns: 5</li>
                    <li>Thumb Key Count: 2</li>
                    <li>Use bottom row: no</li>
                    <li>Use num row: no</li>
                    <li>Tenting angle: pi/7</li>
                    <li>Height Offset: 14mm</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
