{% extends "wrapper.html" %}
{% block content %}
<div class="row">
</div>
<div class="row">
    <div class="column column-75">
        <h3>How to use this site:</h4>
        <ol>
            <li>Install <a href="https://www.openscad.org/">OpenSCAD</a>.</li>
            <li>Click either button below.</li>
            <li>In the respective page, fill the form as you wish</li>
            <li>Click "Generate Case" to generate the .scad file for the case</li>
            <li>Click "Generate Plate" to generate the .scad file for the bottom</li>
        </ol>
        <a href="/lightcycle">
            <button>Lightcycle</button>
        </a>
        <a href="/manuform">
            <button>Manuform</button>
        </a>
        <p>Or, if you have the inclination to use a programmable inteface, check the following page:</p>
        <a href="/api">
            <button>API</button>
        </a>
    </div>
</div>
<div class="row">
    <div class="column column-100">
        <br>
        <br>
        <p>Or, see the <a href="/example">example builds</a>.</p>
        <br>
    </div>
</div>
{% endblock %}
