{% extends "wrapper.html" %}
{% block content %}
<div class="row">
    <div class="column column-75">
        <br>
        <h2>Lightcycle</h2>
    </div>
</div>
<div class="row">
    <div class="colum column-75">
        <p>If you have downloaded JSON config from this site in the past, you might want to try to open it here again:
        </p>
        <input type="file" name="jsonloader" id="jsonloader" onchange="shove_json()">
        <br>
        <br>
        <br>
    </div>
</div>
<div class="row">
    <div class="column column-75">
        <form method="POST" action="/lightcycle">
            <label for="keys">
                <h3>Keys</h3>
            </label>
            <fieldset name="keys" id="keys">
                <label for="keys.columns">Number of columns (4 - 7)</label>
                <input type="number" name="keys.columns" id="keys.columns" value=6 min="4" max="7">
                <label for="keys.thumb-count">Thumb key count?</label>
                <select id="keys.thumb-count" name="keys.thumb-count">
                    <option value="two">2</option>
                    <option value="three">3</option>
                    <option value="five" selected>5</option>
                    <option value="six">6</option>
                    <option value="eight">8</option>
                </select>
                <label for="keys.last-row">Use bottom row?</label>
                <select id="keys.last-row" name="keys.last-row">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <label for="keys.num-row">Use num row?</label>
                <select id="keys.num-row" name="keys.num-row">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <label for="keys.hide-last-pinky">Hide Bottom Pinky? (see Kinesis Advantage's Layout)</label>
                <select id="keys.hide-last-pinky" name="keys.hide-last-pinky">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </fieldset>
            <label for="curve">
                <h3>Curvature & Tenting</h3>
            </label>
            <fieldset name="curve" id="curve">
                <label for="curve.alpha">Column's Curvature</label>
                <select id="curve.alpha" name="curve.alpha">
                    {% for cc in column-curvature %}
                    <option value={{cc}}>pi/{{cc}}</option>
                    {% endfor %}
                </select>
                <label for="curve.beta">Row's Curvature</label>
                <select id="curve.beta" name="curve.beta">
                    <option value=36>pi/36</option>
                    <option value=30>pi/30</option>
                </select>
                <label for="curve.tenting">Tenting Angle</label>
                <select id="curve.tenting" name="curve.tenting" value="pi/12">
                    {% for ta in tenting-angle %}
                    <option value={{ta}}>pi/{{ta}}</option>
                    {% endfor %}
                </select>
                <label for="curve.thumb-alpha">Thumb's Column Curvature</label>
                <select id="curve.thumb-alpha" name="curve.thumb-alpha">
                    {% for cc in thumb-column-curvature %}
                    <option value={{cc}}>pi/{{cc}}</option>
                    {% endfor %}
                </select>
                <label for="curve.thumb-beta">Thumb's Row Curvature</label>
                <select id="curve.thumb-beta" name="curve.thumb-beta">
                    {% for rc in thumb-row-curvature %}
                    <option value={{rc}}>pi/{{rc}}</option>
                    {% endfor %}
                </select>
                <label for="curve.thumb-tenting">Thumb Tenting Angle</label>
                <select id="curve.thumb-tenting" name="curve.thumb-tenting">
                    {% for tta in thumb-tenting-angle %}
                    <option value={{tta}}>pi/{{tta}}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <label for="connector">
                <h3>Connectors</h3>
            </label>
            <fieldset name="connector" id="connector">
                <label for="connector.external">Use loligagger's external holder or default cutout (RJ9 + big USB
                    hole)?</label>
                <select id="connector.external" name="connector.external">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </fieldset>
            <label for="form">
                <h3>Form of the Case</h3>
            </label>
            <fieldset name="form" id="form">
                <label for="form.hotswap">Dongguan Kaihua Electronics Co., Ltd
                    (originally named Longhua Electronics)'s Hotswap Socket?</label>
                <select id="form.hotswap" name="form.hotswap">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <label for="form.thumb-offset-x">Thumb Position in X direction (left/right)</label>
                <select id="form.thumb-offset-x" name="form.thumb-offset-x">
                    <option value="52">Default</option>
                    <option value="48">Closer to body</option>
                    <option value="44">Even closer to body</option>
                    <option value="40">Even closer closer to body</option>
                    <option value="36">Even closer closer closer to body</option>
                    <option value="56">Farther to body</option>
                    <option value="60">Even farther to body</option>
                    <option value="64">Even farther farther to body</option>
                    <option value="68">Even farther farther farther to body</option>
                </select>
                <label for="form.thumb-offset-y">Thumb Position in Y direction (front/back)</label>
                <select id="form.thumb-offset-y" name="form.thumb-offset-y">
                    <option value="45">Default</option>
                    <option value="49">Farther to body</option>
                    <option value="53">Even farther to body</option>
                    <option value="57">Even farther farther to body</option>
                    <option value="57">Even farther farther farther to body</option>
                </select>
                <label for="form.thumb-offset-z">Thumb Position in Z direction (up/down)</label>
                <select id="form.thumb-offset-z" name="form.thumb-offset-z">
                    <option value="27">Default</option>
                    <option value="23">Lower to body</option>
                    <option value="19">Even lower to body</option>
                    <option value="15">Even lower lower to body</option>
                    <option value="11">Even lower lower lower to body</option>
                    <option value="31">Higher to body</option>
                    <option value="35">Even higher to body</option>
                    <option value="39">Even higher higher to body</option>
                    <option value="43">Even higher higher higher to body</option>
                </select>
                <label for="form.manuform-offset">Use Dactyl Manuform's Columnar Stagger</label>
                <select id="form.manuform-offset" name="form.manuform-offset">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <label for="form.z-offset">Height Offset</label>
                <select id="form.z-offset" name="form.z-offset">
                    <option value="18" selected>18mm</option>
                    {% for ho in height-offset %}
                    <option value={{ho}}>{{ho}}mm</option>
                    {% endfor %}
                </select>
                <label for="form.border">Border</label>
                <select name="form.border" id="form.border">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <label for="form.thick-wall">Wall Thickness</label>
                <select name="form.thick-wall" id="form.thick-wall">
                    <option value="false">Normal</option>
                    <option value="true">Thick</option>
                </select>
            </fieldset>
            <label for="misc">
                <h3>Miscelania</h3>
            </label>
            <fieldset name="misc" id="misc">
                <label for="misc.show-keycaps">Show Keycaps?</label>
                <select id="misc.show-keycaps" name="misc.show-keycaps">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <label for="misc.right-side">Right side or left side?</label>
                <select id="misc.right-side" name="misc.right-side">
                    <option value="true">Right</option>
                    <option value="false">Left</option>
                </select>
                <label for="misc.screw-inserts">Screw inserts</label>
                <select id="misc.screw-inserts" name="misc.screw-inserts">
                    <option value="false">No screw inserts</option>
                    <option value="true">Screw inserts</option>
                </select>
            </fieldset>
            <input class="button-primary" type="submit" name="generate-case" value="Generate Case">
            <input class="button-primary" type="submit" name="generate-plate" value="Generate Plate">
            <input class="button-primary" type="submit" name="generate-json" value="Generate JSON">
        </form>
        <p>Loligagger's external holder files:</p>
        <ul>
            <li><a href="loligagger-external-holder-promicro-v1.stl">Promicro V1</a></li>
            <li><a href="loligagger-external-holder-promicro-v2.stl">Promicro V2</a></li>
            <li><a href="loligagger-external-holder-elite-c-v1.stl">Elite-C V1</a></li>
        </ul>
    </div>
</div>
{% endblock %}