<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Dactyl Lightcycle</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="milligram.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="column column-50 column-offset-25">
                <h1>Dactyl Lightcycle Generator</h1>
            </div>
        </div>
        <div class="row">
            <div class="column column-25">
            </div>
            <div class="column column-50">
                <form method="POST" action="/lightcycle">
                    <label for="keys">
                        <h3>Keys</h3>
                    </label>
                    <fieldset name="keys" id="keys">
                        <label for="ncols">Number of columns</label>
                        <input type="number" name="ncols" id="ncols" value=6>
                        <label for="thumb-count">Thumb key count?</label>
                        <select id="thumb-count" name="thumb-count">
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="5" selected>5</option>
                            <option value="6">6</option>
                        </select>
                        <label for="last-row">Use bottom row?</label>
                        <select id="last-row" name="last-row">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                        <label for="num-row">Use num row?</label>
                        <select id="num-row" name="num-row">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </fieldset>
                    <label for="curvature">
                        <h3>Curvature & Tenting</h3>
                    </label>
                    <fieldset name="curvature" id=curvature>
                        <label for="alpha">Column's Curvature</label>
                        <select id="alpha" name="alpha">
                            {% for cc in column-curvature %}
                            <option value={{cc}}>pi/{{cc}}</option>
                            {% endfor %}
                        </select>
                        <label for="beta">Row's Curvature</label>
                        <select id="beta" name="beta">
                            <option value=36>pi/36</option>
                            <option value=30>pi/30</option>
                        </select>
                        <label for="tenting-angle">Tenting Angle</label>
                        <select id="tenting-angle" name="tenting-angle" value="pi/12">
                            {% for ta in tenting-angle %}
                            <option value={{ta}}>pi/{{ta}}</option>
                            {% endfor %}
                        </select>
                        <label for="thumb-tenting-angle">Thumb Tenting Angle</label>
                        <select id="thumb-tenting-angle" name="thumb-tenting-angle">
                            {% for tta in thumb-tenting-angle %}
                            <option value={{tta}}>pi/{{tta}}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                    <label for="connector">
                        <h3>Connectors</h3>
                    </label>
                    <fieldset name="connector" id="connector">
                        <label for="external-holder">Use loligagger's external holder or default cutout (RJ9 + big USB hole)?</label>
                        <select id="external-holder" name="external-holder">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                    </fieldset>
                    <label for="thumb-offset">
                        <h3>Form of the Case</h3>
                    </label>
                    <fieldset name="thumb-offset" id="thumb-offset">
                        <label for="thumb-offset-x">Thumb Position in X direction (left/right)</label>
                        <select id="thumb-offset-x" name="thumb-offset-x">
                            <option value="52">Default</option>
                            <option value="48">Closer to body</option>
                            <option value="56">Farther to body</option>
                        </select>
                        <label for="thumb-offset-y">Thumb Position in Y direction (front/back)</label>
                        <select id="thumb-offset-y" name="thumb-offset-y">
                            <option value="45">Default</option>
                            <option value="49">Farther to body</option>
                        </select>
                        <label for="thumb-offset-z">Thumb Position in Z direction (up/down)</label>
                        <select id="thumb-offset-z" name="thumb-offset-z">
                            <option value="27">Default</option>
                            <option value="23">Lower to body</option>
                            <option value="19">Even lower to body</option>
                            <option value="31">Higher to body</option>
                        </select>
                    </fieldset>
                    <label for="case-form">
                        <h3>Form of the Case</h3>
                    </label>
                    <fieldset name="case-form" id="case-form">
                        <label for="z-offset">Height Offset</label>
                        <select id="z-offset" name="z-offset">
                            {% for ho in height-offset %}
                            <option value={{ho}}>{{ho}}mm</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                    <label for="miscelania">
                        <h3>Miscelania</h3>
                    </label>
                    <fieldset name="miscelania" id="miscelania">
                        <!--label for="show-keycaps">Show Keycaps?</label>
                        <select id="show-keycaps" name="show-keycaps">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select-->
                        <label for="right-side">Right side or left side?</label>
                        <select id="right-side" name="right-side">
                            <option value="true">Right</option>
                            <option value="false">Left</option>
                        </select>
                        <label for="screw-inserts">Screw inserts</label>
                        <select id="screw-inserts" name="screw-inserts">
                            <option value="false">No screw inserts</option>
                            <option value="true">Screw inserts</option>
                        </select>
                    </fieldset>
                    <input class="button-primary" type="submit" name="generate-case" value="Generate Case">
                    <input class="button-primary" type="submit" name="generate-plate" value="Generate Plate">
                </form>
                <p>Loligagger's external holder files:</p>
                <ul>
                    <li><a href="loligagger-external-holder-promicro-v1.stl">Promicro V1</a></li>
                    <li><a href="loligagger-external-holder-promicro-v2.stl">Promicro V2</a></li>
                    <li><a href="loligagger-external-holder-elite-c-v1.stl">Elite-C V1</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="column column-50 column-offset-25">
                <p>
                    Written by <a href="https://github.com/ibnuda">Ibnu D. Aji</a>.
                    Provided as is by <a href="https://dactyl.bigcartel.com">Cheap Dactyl</a>.
                    Licensed under the<a href="https://github.com/ibnuda/dactyl-keyboard/tree/refaktor#license"
                        rel="noopener" target="_blank" title="GNU Affero General Public License Version 3"> GNU
                        Affero General Public License V3</a>.
                </p>
            </div>
        </div>
    </div>
</body>

</html>