{% extends "wrapper.html" %}
{% block content %}

<script>
    function setkeyboard(ncols, nrows, thumbcount, innercolumn, lastrow, widepinky) {
        document.getElementById("ncols").value = ncols;
        document.getElementById("nrows").value = nrows;
        document.getElementById("thumb-count").value = thumbcount;
        document.getElementById("inner-column").value = innercolumn;
        document.getElementById("last-row").value = lastrow;
        document.getElementById("wide-pinky").value = widepinky;
    }

    function setminidox() {
        setkeyboard(5, 4, "three", "false", "zero", "false");
    }

    function setcorne() {
        setkeyboard(6, 4, "three", "false", "zero", "false");
    }

    function setergodox() {
        setkeyboard(6, 5, "six", "true", "full", "true");
    }
    var something = {
        "keys": {
            "columns": 6,
            "rows": 6,
            "thumb-count": "six",
            "last-row": "two",
            "switch-type": "mx",
            "inner-column": true
        },
        "curve": {
            "alpha": 12,
            "beta": 36,
            "centercol": 4,
            "tenting": 9
        },
        "connector": {
            "external": false,
            "trrs": true,
            "micro-usb": true
        },
        "form": {
            "hotswap": true,
            "stagger": false,
            "wide-pinky": true,
            "height-offset": 4,
            "wire-post": true,
            "screw-inserts": true
        },
        "misc": {
            "keycaps": true,
            "wrist-rest": false,
            "integrated-wrist-rest": false,
            "right-side": true,
            "case": true
        }
    };
    function loadpopup() {
        var i = 0;
        for (const topkey in something) {
            if (something.hasOwnProperty(topkey)) {
                const key = something[topkey];
                var j = 0;
                for (const element in key) {
                    if (key.hasOwnProperty(element)) {
                        const somethingvalue = key[element];
                        console.log(topkey + '.' + element + '=' + somethingvalue);
                        document.getElementById(topkey + '.' + element).value = somethingvalue;
                    }
                }
            }
        }
    }

</script>
<div class="row">
    <div class="column column-75">
        <br>
        <h2>Manuform</h2>
    </div>
</div>
<div class="row">
    <div class="column column-750">
        <form method="POST" action="/manuform">
            <label for="keys">
                <h3>Keys</h3>
            </label>
            <fieldset name="keys" id="keys">
                <label for="keys.columns">Number of columns (4 - 7)</label>
                <input type="number" name="keys.columns" id="keys.columns" value=5 min="4" max="7">
                <label for="keys.rows">Number of rows (3 - 6)</label>
                <input type="number" name="keys.rows" id="keys.rows" value=4 min="3" max="6">
                <label for="keys.thumb-count">Thumb Key Count</label>
                <select id="keys.thumb-count" name="keys.thumb-count">
                    <option value="six">6 (Default)</option>
                    <option value="five">5 (Mini)</option>
                    <option value="four">4</option>
                    <option value="three">3 (Minidox)</option>
                    <option value="two">2</option>
                </select>
                <label for="keys.last-row">Last Row Key Counts?</label>
                <select id="keys.last-row" name="keys.last-row">
                    <option value="two">Two (Default Dactyl Manuform).</option>
                    <option value="zero">No last row.</option>
                    <option value="full">Use all keys.</option>
                </select>
                <label for="keys.switch-type">Key Hole</label>
                <select id="keys.switch-type" name="keys.switch-type">
                    <option value="box">Box and MX</option>
                    <option value="mx">MX</option>
                    <option value="alps">Alps</option>
                </select>
                <label for="keys.inner-column">Inner Column?</label>
                <select id="keys.inner-column" name="keys.inner-column">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </fieldset>
            <label for="curve">
                <h3>Curvature & Tenting</h3>
            </label>
            <fieldset name="curve" id="curve">
                <label for="curve.alpha">Column's Curvature</label>
                <select id="curve.alpha" name="curve.alpha">
                    {% for cc in column-curvature %}
                    <option value={{cc}}>pi/{{cc}}</option>
                    {% endfor %}
                </select>
                <label for="curve.beta">Row's Curvature</label>
                <select id="curve.beta" name="curve.beta">
                    <option value=36>pi/36</option>
                    <option value=30>pi/30</option>
                </select>
                <label for="curve.centecol">Center of the curvature for the column</label>
                <select id="curve.centercol" name="curve.centercol">
                    <option value=4>Pinky finger's column</option>
                    <option value=3>Ring finger's column</option>
                    <option value=2>Middle finger's column</option>
                    <option value=1>Index finger's column.</option>
                </select>
                <label for="curve.tenting">Tenting Angle</label>
                <select id="curve.tenting" name="curve.tenting">
                    {% for ta in tenting-angle %}
                    <option value={{ta}}>pi/{{ta}}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <label for="connector">
                <h3>Connectors</h3>
            </label>
            <fieldset name="connector" id="connector">
                <label for="connector.external">Use loligagger's external holder ?</label>
                <select id="connector.external" name="connector.external" onchange="toggle_connectors_fields()">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <label for="connector.trrs">Connector</label>
                <select id="connector.trrs" name="connector.trrs">
                    <option value="false">RJ9</option>
                    <option value="true">TRRS</option>
                </select>
                <label for="connector.micro-usb">USB Hole</label>
                <select id="connector.micro-usb" name="connector.micro-usb">
                    <option value="false">Mini</option>
                    <option value="true">Micro</option>
                </select>
            </fieldset>
            <label for="form">
                <h3>Form of the Case</h3>
            </label>
            <fieldset name="form" id="form">
                <label for="form.hotswap">Dongguan Kaihua Electronics Co., Ltd
                    (originally named Longhua Electronics)'s Hotswap Socket?</label>
                <select id="form.hotswap" name="form.hotswap">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <label for="form.stagger">Stagger?</label>
                <select id="form.stagger" name="form.stagger">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <label for="form.wide-pinky">Wide Pinky?</label>
                <select id="form.wide-pinky" name="form.wide-pinky">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <label for="form.height-offset">Height Offset</label>
                <select id="form.height-offset" name="form.height-offset">
                    {% for ho in height-offset %}
                    <option value={{ho}}>{{ho}}mm</option>
                    {% endfor %}
                </select>
                <label for="form.wire-post">Wire Posts?</label>
                <select id="form.wire-post" name="form.wire-post">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <label for="form.screw-inserts">Screw inserts</label>
                <select id="form.screw-inserts" name="form.screw-inserts">
                    <option value="false">No screw inserts</option>
                    <option value="true">Screw inserts</option>
                </select>
            </fieldset>
            <label for="misc">
                <h3>Miscelania</h3>
            </label>
            <fieldset name="misc" id="misc">
                <label for="misc.keycaps">Show Keycaps?</label>
                <select id="misc.keycaps" name="misc.keycaps">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <label for="misc.wrist-rest">Wrist Rest?</label>
                <select id="misc.wrist-rest" name="misc.wrist-rest" onchange="toggle_wrist_rest_type_fields()">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <label for="misc.integrated-wrist-rest">Integrated Wrist Rest?</label>
                <select id="misc.integrated-wrist-rest" name="misc.integrated-wrist-rest"
                    onchange="toggle_generate_wrist_rest_button()">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <label for="misc.right-side">Right side or left side?</label>
                <select id="misc.right-side" name="misc.right-side">
                    <option value="true">Right</option>
                    <option value="false">Left</option>
                </select>
            </fieldset>
            <input class="button-primary" type="submit" name="generate-case" value="Generate Case">
            <input class="button-primary" type="submit" name="generate-plate" value="Generate Plate">
            <input class="button-primary" type="submit" name="generate-wrist-rest" value="Generate wrist rest">
            <input class="button-primary" type="submit" name="generate-json" value="Generate JSON">
        </form>
        <p>Loligagger's external holder files:</p>
        <ul>
            <li><a href="loligagger-external-holder-promicro-v1.stl">Promicro V1</a></li>
            <li><a href="loligagger-external-holder-promicro-v2.stl">Promicro V2</a></li>
            <li><a href="loligagger-external-holder-elite-c-v1.stl">Elite-C V1</a></li>
        </ul>
    </div>
    <div class="column column-25">
        <h3>Defaults:</h3>
        <button onclick="setminidox()">Minidox</button>
        <br>
        <button onclick="setcorne()">Corne</button>
        <br>
        <button onclick="setergodox()">Ergodox</button>
        <br>
        <button onclick="loadpopup()">What is this?</button>
    </div>
</div>
{% endblock %}